<!DOCTYPE html>
<html lang="es">

<head>
    <title>SelfMusic</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/scripts/main.js" defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>

<body>
    <header>
        <p style="font-size: 50px; margin: 0; text-align: left;">SelfMusic</p>
    </header>
    <div class="container">
        <form action="search">
            <p class="supertext">Busca algo:</p>
            <input type="text" name="value" id="value" required>
            <button type="submit">Buscar</button>
        </form>
    </div>
    <h2>{{ playlist_msg }}</h2>
    {% for playlist in playlists %}
        <button onclick="redirect('/playlist?genre={{ playlist.type }}')">{{ playlist.type }}</button>
    {% endfor %}
    <br>
    <br>
    <footer>
        <h2>SelfMusic Por KevinCrrl</h2>
        <a href="/docs">Documentación de la API</a>
        <br>
        <a href="/license">Información de licencia</a>
    </footer>
</body>

</html>