<!DOCTYPE html>
<html lang="es">

<head>
    <title>SelfMusic Login</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>

<body>
    <div class="container">
        <div class="login">
            <p>Lamentablemente... El inicio de sesión está en TODO :(</p>
            <p>Posiblemente el código de usuarios sea retirado... SelfMusic aún esta en pruebas</p>
            <p>No tienes una cuenta? <a href="/register">Crea una!</a></p>
        </div>
    </div>
</body>

</html>