<!DOCTYPE html>
<html lang="es">

<head>
    <title>Registrarse en SelfMusic</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>

<body>
    <div class="container">
        <div class="register">
            <p>Lamentablemente... El registro está en TODO :(</p>
            <p>Posiblemente el código de usuarios sea retirado... SelfMusic aún esta en pruebas</p>
            <p>Ya tienes una cuenta? <a href="/login">Inicia Sesión!</a></p>
        </div>
    </div>
</body>

</html>